.header {
    width: 100%;
    background-color:white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #0f223a14;
    height: 80px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--header-text-color);
    
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icons .icon {
    margin-left: 20px;
    cursor: pointer;
    color: var(--header-icon-color);
    font-size: 20px;
  }
  